certifi==2017.7.27.1
chardet==3.0.4
docker==2.5.1
docker-pycreds==0.2.1
idna==2.6
Jinja2==2.9.6
MarkupSafe==1.0
python-debian==0.1.31
PyYAML==3.12
requests==2.18.4
six==1.11.0
urllib3==1.22
websocket-client==0.44.0
